/*=====DESKTOP=====*/

/*=====ABOUT-US=====*/
@media (max-width: 1320px) {
	.about-us-flex {
		flex-direction: column;
	}
	
	.about-us-h1-child {
		margin-bottom: 5em;
	}
	
	.about-us-p {
		margin: 3em auto;
		width: 100%;
	}
}

@media (max-width: 1037px) {
	/*=====INDEX=====*/
	.landing-second {
		font-size: 3rem;
	}
	
	.main-content-h1 {
		font-size: 2rem;
	}
	
	.main-content-sub {
		font-size: 1rem;
	}
	
	.main-content-p {
		font-size: 1rem;
	}

	.main-content-h2 {
		font-size: 1.3rem;
	}
	
	.main-content-svg {
		width: 100%;
	}
	
	/*.btn {
		font-size: 0.7rem;
	}*/
	
	.second-main-h1 {
		font-size: 2rem;
	}
	
	.testimonial-p {
		font-size: 1rem;
	}
	
	.signature {
		font-size: 0.7rem;
	}
	
	/*=====ABOUT-US=====*/
	.about-us-h1 {
		font-size: 2rem;
	}
	
	.about-us-p {
		font-size: 0.9rem;
	}
	
	.about-us-svg {
		width: 25em;
	}
	
	/*=====SERVICE=====*/
	.grid-h1 {
		font-size: 2rem;
	}
	
	/*=====CONTACT-US=====*/
	.form-flex {
		flex-direction: column;
		align-items: center;
	}
	
	.form-svg-div {
		margin-bottom: 5em;
	}
}

@media (max-width: 820px) {
	.landing {
		height: 47em;
	}
	
	.ul {
		display: none;
	}
	
	.clickable-hamburger {
		display: block;
	}
	
	.landing-hey {
		font-size: 1.3rem;
	}
	
	.landing-first {
		font-size: 1.3rem;
	}
	
	.main-top-margin {
		margin-bottom: 4em;
	}
	
	.main-content-one {
		margin-bottom: 5em;
	}
	
	.main-content-btn-div {
		margin-bottom: 3em;
	}
	
	.main-content {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	
	.main-content-content-order {
		order: -1;
	}
}

@media (max-width: 680px) {
	/*.landing {
		height: 40em;
	}*/
	
	/*.landing-hey {
		font-size: 1.2rem;
	}
	
	.landing-first {
		font-size: 1.2rem;
	}*/
	
	/*.landing-second {
		font-size: 2rem;
	}*/
	
	.btn {
		font-size: 0.7rem;
	}
	
	.landing-second {
		font-weight: 700;
	}
	
	.landing-info {
		text-align: start;
	}
	
	.btn-div {
		justify-content: flex-start;
	}
	
	.main-content {
		text-align: start;
	}
	
	.main-content-h1 {
		font-weight: 600;
	}
	
	.testimonial-container {
		min-width: 28em;
		padding: 3em;
	}
	
	.testimonial-parent {
		justify-content: center;
		align-items: center;
	}
	
	.testimonial-child {
		width: 80%;
	}
	
	.testimonial-p {
		font-size: 0.7rem;
	}
	
	.signature {
		font-size: 0.5rem;
	}
}

/*@media (max-width: 600px) {
	.landing {
		height: 36em;
	}
	
	.hotel-bell {
		width: 0.9em;
	}
	
	.hamburger-icon {
		margin: 0.4em;
		width: 2.4em;
		height: 0.2em;
		background-color: white;
	}
	
	.landing-hey {
		font-size: 1.1rem;
	}
	
	.landing-first {
		font-size: 1.1rem;
	}
	
	.landing-second {
		font-size: 1.7rem;
	}
	
	.btn {
		font-size: 0.6rem;
	}
	
	.down-arrow-div {
		margin-top: 4em;
	}
	
	.down-arrow {
		width: 3em;
	}
}*/



/*#f2aa4c*/
/*=====MOBILE=====*/

@media (max-width: 460px) {
	body {
		background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
	}
	
	.services-background {
		background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
	}
	
	/*.module {
		background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
	}*/
	
	.grid {
		background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
	}
	
	.landing {
		background-image: none;
		height: 40em;
	}
	
	.container-landing {
		padding-bottom: 5em;
		border-bottom: 1px solid #f2aa4c;
	}
	
	.hotel-bell {
		width: 1.3em;
	}
	
	.hamburger-icon {
		margin: 0.6em;
		width: 2.7em;
		height: 0.3em;
		background-color: #f2aa4c;
	}
	
	.landing-second {
		font-size: 3rem;
		font-weight: 700;
	}
	
	.landing-hey {
		margin: 0;
	}
	
	.landing-info {
		color: #2F2E41;
		text-align: start;
	}
	
	.header {
		border-bottom: 1px solid #f2aa4c;
	}
	
	.btn {
		font-size: 0.7rem;
		color: antiquewhite;
	}
	
	.btn-div {
		justify-content: flex-start;
	}
	
	.down-arrow-div {
		display: none;
	}
	
	.hidden-h1 {
		display: none;
	}
	
	.main-content-container {
		margin: 0 auto;
	}
	
	.main-content-h1 {
		font-weight: 600;
		color: #2F2E41;
	}
	
	.main-content {
		text-align: start;
	}
	
	/*.txt-type > .txt {
		color: antiquewhite;
	}*/
	
	.testimonial-container {
		min-width: 80%;
		padding: 3em;
		/*background-color: antiquewhite;*/
	}
	
	.testimonial-h1 {
		font-size: 1.5rem;
	}
	
	.testimonial-child {
		width: 100%;
	}
	
	.testimonial-p {
		font-size: 0.7rem;
	}
	
	.signature {
		font-size: 0.5rem;
	}
	
	/*.footer-a {
		color: antiquewhite;
	}
	
	.footer-p {
		color: antiquewhite;
	}*/
	
	.about-us-svg {
		display: none;
	}
	
	.about-us-h1 {
		color: #2F2E41;
		font-weight: 600;
		font-size: 2rem;
	}
	
	.grid-h1 {
		color: #2F2E41;
		font-weight: 600;
	}
	
	/*[type="submit"] {
		color: antiquewhite;
	}*/
}

@media (max-width: 400px) {
	.landing-second {
		font-size: 2.5rem;
	}
	
	.main-content-content {
		min-width: 10em;
	}
	
	.second-main-h1 {
		font-size: 1.5rem;
	}
	
	.form-svg {
		width: 100%;
	}
	
	.grid {
		grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
		grid-auto-rows: minmax(150px, auto);
	}
}