* {
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #2F2E41;
    letter-spacing: 1.5px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/landing4.jpg);
    /*height: 47.1em;*/
	height: 47.1em;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.landing-first {
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    margin-bottom: 0.5em;
    margin-top: 0;
    opacity: 0.7;
}

.landing-hey {
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    margin-bottom: 0;
	color: #f2aa4c;
}

.landing-second {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    word-spacing: 10px;
}

.title {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
	border-bottom: 1px solid white;
}

.ul {
    padding: 0;
    display: flex;
}

.clickable-hamburger {
	display: none;
	cursor: pointer;
	padding: 0.5em;
}

.hamburger-icon {
	margin: 0.5em;
	width: 2.5em;
	height: 0.3em;
	background-color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

a:hover,
a:focus {
    color: #f2aa4c;
}

.title-a:hover,
.title-a:focus {
	color: #f5f5f5;
}

.li {
    transition: transform 0.2s ease-in-out;
    color: white;
    font-weight: 300;
	margin-left: 3em;
}

.li:hover,
.li:focus {
    transform: scale(1.1);
}

.current-page {
    color: #f2aa4c;
	font-weight: 600;
	margin-left: 3em;
}

.hotel-bell {
    width: 1em;
}

.down-arrow-div {
	margin-top: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.down-arrow {
	width: 4em;
}




.main-content-container {
	width: 80%;
	margin: 10em auto;
	line-height: 1.6;
	word-spacing: 1.6px;
}

.main-top-margin {
	margin-top: 5em;
}

.hidden-h1 {
	visibility: hidden;
}

.main-content-h1 {
	font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    color: #f2aa4c;
}

.main-content-sub {
    font-size: 1.2rem;
	font-weight: 300;
    text-transform: capitalize;
    margin-top: 0.2rem;
    opacity: 0.7;
}

.sspp {
	width: 100px;
    height: 6px;
    background: linear-gradient(to left, #ff713b, #ffa51d);
}

.main-content {
	display: flex;
	justify-content: space-between;
}

.main-content-content {
	max-width: 30em;
	min-width: 20em;
	align-self: center;
}

.main-content-p {
	font-size: 1.3rem;
	font-weight: 300;
}

.main-content-h2 {
	font-size: 1.6rem;
}

.main-content-svg {
	width: 35em;
}

.main-bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 10em;
}

.main-bottom-svg {
	width: 15em;
}




.second-main {
	width: 100%;
	height: 25em;
	background: linear-gradient(to left, #ff713b, #ffa51d);
	margin-top: 10em;
	display: flex;
	align-items: center;
}

.second-main-position {
	margin: 0 10%;
}

.txt-type > .txt {
    border-right: 0.2rem solid #777;
	color: white;
}

.second-main-h1 {
	font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}




.testimonial-container {
	max-width: 60%;
	min-width: 40em;
	margin: 15em auto;
	padding: 5em;
	background-color: white;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	border-radius: 20px;
}

.testimonial-parent {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.testimonial-h1 {
	font-weight: 600;
}

.testimonial-p {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.6;
	word-spacing: 1.6px;
	font-style: italic;
}

/*.quotes {
	display: none;
	float: right;
	position: relative;
	top: -28px;
	left: -205px;
	width: 3em;
}

.quotes2 {
	display: none;
	position: relative;
	top: 34px;
	right: 35px;
	width: 3em;
}*/

.signature {
	font-weight: 300;
}




.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101820;
    padding-top: 2em;
    padding-bottom: 1em;
}

.footer-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f5f5f5;
	padding: 0;
}

.footer-li {
    margin: 0;
}

.footer-a:hover,
.footer-a:focus {
	color: #f5f5f5;
    opacity: 0.7;
}

.footer-p {
    font-size: 0.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #f5f5f5;
    text-align: center;
}






#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background: #ff713b;
    color: #101820ff;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
	transition: all 0.3s;
	box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}

#myBtn:hover {
	background: #2F2E41;
}

.topClass {
	width: 1.2em;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
	font-weight: 700;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.btn-one {
    background: linear-gradient(to left, #ff713b, #ffa51d);
    color: white;
    transition: transform 0.2s ease-in-out;
}

.btn-one:hover,
.btn-one:focus {
    transform: scale(1.1);
    color: white;
}




#container-sticky {
	width: 100%;
	display: none;
	position: fixed;
	top: 0px;
    z-index: 99;
    border: none;
    outline: none;
    background: linear-gradient(to left, #3F2E51, #2F2E41);
}

.sticky-header {
	width: 80%;
	margin: 0.8em auto 0.8em auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}




#container-hamburger {
	width: 100%;
	height: 100vh;
	display: none;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 999;
	border: none;
	outline: none;
	background: linear-gradient(to left, #3F2E51, #2F2E41);
}

.sticky-header-hamburger {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.ul-hamburger {
	padding: 0;
}

.mobile-li {
	margin: 2.5em 0 2.5em 0;
	padding: 0;
}

.clear {
	position: fixed;
	top: 0px;
	right: 0px;
}

.material-icons {
	color: white;
	font-size: 2.5em;
	padding: 0.5em;
	cursor: pointer;
}



















/*=== about us page ===*/

#container-sticky-about-us {
	width: 100%;
	display: block;
	position: fixed;
	top: 0px;
    z-index: 99;
    border: none;
    outline: none;
    background: linear-gradient(to left, #3F2E51, #2F2E41);
}

.about-us-parent {
	margin: 15em auto;
	line-height: 1.6;
	word-spacing: 1.6px;
}

.about-us-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-us-h1 {
	font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
	margin: 0;
    color: #f2aa4c;
}

.about-us-sspp {
	margin-bottom: 2em;
}

/*.about-us-h1-child {
	min-width: 30em;
}*/

.about-us-svg {
	width: 30em;
}

.about-us-p {
	width: 70%;
	font-weight: 400;
	font-size: 1.1rem;
	margin-top: 2em;
}



















/*=== services page ===*/

.services-background {
	background-color: white;
}

.container-grid {
	margin: 15em auto;
  	max-width: 80%;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  	grid-auto-rows: minmax(150px, auto);
	grid-gap: 1em;
	background-color: white;
}

.module {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 30em;
	border-radius: 20px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  
  /* Flex Fallback */
	margin-left: 5px;
	margin-right: 5px;
	flex: 1 1 200px;
}

.card-image {
	width: 10em;
}

.grid-h1 {
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 300;
	word-spacing: 1.6px;
	margin-bottom: 0;
	color: #f2aa4c;
}

.grid-h2 {
	text-align: center;
	font-weight: 400;
	line-height: 1.6;
	word-spacing: 1.6px;
}

.grid-sspp {
	margin-bottom: 5em;
}

.grid-p {
/*	width: 80%;*/
	text-align: center;
	line-height: 1.6;
	word-spacing: 1.6px;
	font-weight: 300;
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
	.module {
	margin: 0;
	}
}



















.form-parent {
	margin: 15em auto;
}

.form-flex {
	display: flex;
	justify-content: space-around;
}

.contact-form { 
	max-width: 30em;
	min-width: 15em;
}

.form-center {
	text-align: center;
}

.form-sspp {
	margin: 1em auto 5em auto;
}

.feedback-input {
	font-size: 1rem;
	border-radius: 5px;
	line-height: 1.6;
	border: 2px solid #2F2E41;
	padding: 1em;
	margin-bottom: 1em;
	width: 100%;
	outline: 0;
}

.contact-text {
	height: 150px;
	line-height: 150%;
	resize: vertical;
}

[type="submit"] {
	width: 100%;
	background: #ff713b;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	color: white;
	font-size: 1.5rem;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 700;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
}
[type="submit"]:hover { background:#2F2E41; }

.form-svg {
	width: 20em;
}
